.user_top2
{
    height: 6.5rem;
    margin-top: 3rem;
    overflow: hidden;
    /*background-color: #f2f2f2;*/
    background: linear-gradient(to right,#f2f2f2 ,#FF6600);
    position:relative
}
.dijj
{
    margin: 10px auto;
}
.user_bgys
{
    width: 100%;height: 7.5rem;background-color: #ff9f17;padding-top: 0.5rem;
}
.user_bgys dd p
{
    font-size:12px;font-weight: bold;
}
.user_bgys dd p a
{
    float: right;
    color: #ffffff;
    padding-right: 20px;
    margin-bottom: -5px;
}
.user_bgys dd p a img
{
    width: 18px;
}
.user_bgys .user_hydj
{
    float: right;
    height: 25px;
    border-radius: 10px 0px 0px 10px;
    width: 40%;
    margin-top: 5px;
    background-color: rgba(255,212,107,0.59);
    padding-top: 3px;
    padding-left: 5px;
}
.lanmu .grzx_lanmu
{
    border: rgba(0,0,0,0);
}
.lanmu_tb
{
    height: 2rem;padding:1rem 0 0 0;margin: 0  1rem 0 1rem ;border-bottom: 1px dashed #e8e7e7;
}
.lanmu_tb p
{
    font-size: 0.8rem;
}
.lanmu_tb a
{
    color: #909090;font-size: 0.8rem;float: right;padding-top: 0px;padding-bottom: 0px;
}

.grzx_lanmu0{width: 100%; height: 140px; margin: 0px auto;background-color: #FFF;}
.grzx_lanmu0 .wrap_gn{width: 25%;height: 10%;float: left;}
.grzx_lanmu0 .wrap_gn span{width: 100%; text-align: center;}
.grzx_lanmu0 .wrap_gn .wrap_gn_tb{width: 40%;margin: 0px auto 10px;padding-top: 10px;}
.grzx_lanmu0 .wrap_gn .wrap_gn_tb img{clear: both;display: block; margin:auto;}
.grzx_lanmu0 .wrap_gn .wrap_gn_tb .grzx_xz{padding-top: 5px;padding-left: 3px;clear: both;display: block; margin:auto;}

    /*头部*/
#hyzx_header2{width: 100%; z-index:999;background-color:#ffffff;height:3rem;display: block;}
#hyzx_header2 h1{color: #000000;font-size: 1.2rem;line-height: 3rem;text-align:center;  font-weight:normal;background: #ffffff;}
#hyzx_header2 .header_l2{position: absolute;top: 0;left: 0; }
#hyzx_header2 .header_l2 a {width: 3rem;height:3rem;display: block;padding: 0 0.2rem;text-indent: -999em;overflow: hidden;}



/**************************************************/
.botton
{
    float: left;
    margin: 20px;
    width: 36%;
}
.botton2
{
    margin: 5px;
}
.botton3
{
    width: 100%;
    height: 40px;
    background-color:#20B523;
    border: inherit;
    border-radius: 10px;
    color: aliceblue;
    /*	font-weight: bold;*/
    font-size: 20px

}
.botton4
{
    width: 100%;
    height: 40px;
    border: inherit;
    border-radius: 10px;
    font-size: 20px;
    background: linear-gradient(left,#FF8000,#FF4000);
    background: -ms-linear-gradient(left, #FF8000, #FF4000);
    background: -webkit-linear-gradient(left, #FF8000, #FF4000);
    background: -moz-linear-gradient(left, #FF8000, #FF4000);
}
.botton5
{
    float: right;
    border: 1px solid #000000;
    border-radius: 5px;
    padding:3px 5px;
    background-color:rgba(195, 195, 195, 0);
    margin-top: -25px;
}
.shangchuan
{
    width: 100%;
    height: 40px;
    background: linear-gradient(left,#FF8000,#FF4000);
    background: -ms-linear-gradient(left, #FF8000, #FF4000);
    background: -webkit-linear-gradient(left, #FF8000, #FF4000);
    background: -moz-linear-gradient(left, #FF8000, #FF4000);
    border: inherit;
    border-radius: 25px;
}
.qcfd_xhx
{
    clear: both;
    width: 95%;
    margin: 20px auto;
    height: 1px;
    background-color:  rgba(213,213,213,1.00);
}
.qcfd
{
    clear: both;
}
.gytb
{
    height: 48px;background-color: rgba(255,255,255,1.00);
}
.nr
{
    margin-top: 10px;
    background-color: rgba(255,255,255,1.00);

}
.touxiang
{
    height: 65px;
    margin: 5px auto;
}
.touxiang2
{
    width: 65px;
    height: 65px;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    border: rgba(0,0,0,1.00) 1px solid;
}
.tx_zuo
{
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}
.tx_you
{
    width: 60px;
    height: 60px;
    float: right;
    border-radius: 50%;
    background-color: #000000;
    margin-right: 40px;
    overflow: hidden;
    margin-top: 13px
}
.tx_you2
{
    color: rgba(0,0,0,1.00);
    float: right;
    margin-right: -75px;
    text-decoration:none;
    margin-top: 30px
}
.gynr
{
    margin: 5px auto;
}
.gynr_zuo
{
    float: left;
    margin-left:30px;
    margin-right: 20px;
}
.gynr_you
{
    border: inherit;
    font-size: 15px;
    height: 25px;
    margin-top: -3px;
    width: 70%;
    color: #999;
}
.dizhi
{

    margin:5px auto;
}
.dizhi_you
{
    float:right;
}
.dizhi_zhong
{
    width: 80%;
    float: left;
}
.nr_zuo01,.nr_you01
{
    margin: 5px 0;
    float: left;
    width: 50%;
    border-right: 1px solid rgba(152,152,152,1.00)
}
.nr_zuo01,.nr_you01
{
    margin: 5px -1px;
    float: left;
    width: 50%;
}
.nrxx
{
    padding: 10px;
    border-bottom: rgba(215,215,215,1.00) 1px solid
}
.nr_px
{
    /*margin: 10px auto;*/
}
.nr_px li
{
    padding: 5px 0;
    float: left;
    width: 25%;
    background-color: #f6f6f6;
    border-bottom: 1px solid #e2e2e2;
    /*border-bottom: 1px solid #c3c3c3;*/
    /*border-top: 1px solid #c3c3c3;*/
    /*border-left: 1px solid #c3c3c3;*/
}
.nr_px .border_right1
{
    /*border-right: 1px solid #c3c3c3;*/
}
.nr_px2
{
    /*margin: 10px auto;*/
}
.nr_px2 li
{
    padding: 5px 0;
    float: left;
    width: 24.77%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #c3c3c3;
    /*border-top: 1px solid #c3c3c3;*/
    /*border-left: 1px solid #c3c3c3;*/
    border-right: 1px solid #c3c3c3;
}
.nr_px2 .border_right
{
    /*border-right: 1px solid #c3c3c3;*/
    border-right:none;
}
.jinerticheng
{
    float: right;
    margin: -20px 0 0 0
}
.jinerticheng2
{
    float: right;
    margin: -17px 0 0 0
}
.rtsj
{
    float: right;
}
.fd_zuo
{
    width: 25%;
    float: left;
    text-align: center;
    margin: 0 auto;
}
.fd_you
{
    float: right;
    margin-top: 0px;
}
.fd_zhong
{
    width: 12%;
    text-align: center;
    float: left;
    padding: 30px 0 0 0;
}
.sr01
{
    width: 97%;
    height: 30px;
    border: 1px solid #c3c3c3;
    padding: 5px 0 5px 10px ;
}
.sr02
{
    width: 100%;
    border: inherit;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 25px
}
.sr02_01
{
    border: solid 1px #c3c3c3;
    margin-bottom: 0;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nr_nr01
{
    margin-top: 20px;

}.nr_nr02
 {
     border-top: 1px solid #C0C0C0;padding: 5px

 }
.nr_nr03
{
    margin:2px auto;
    background-color: #FFFFFF;
    padding:10px 15px;
}
.nr_bj01
{
    width: 100%;
    height: 6.5rem;
    background-color: #ff9f17;
    padding-top: 0.5rem;
}
.nr_bj01_a
{
    height:6.5rem;
    margin: 0px auto;
    position: absolute;
    overflow: hidden;
    width: 95%;background: #FFF;
    left: 0;
    top: 115px;
    right: 0;
    margin: auto;
    border-radius: 8px;
    text-align: center
}
.nr_ggzx
{
    margin:15px 10px 0;
    padding-bottom: 15px;
    border-bottom:1px dashed #BCBCBC;
}
/*****************************************/
/*layui模板的更改项*/
.nr .layui-tab-brief>.layui-tab-title .layui-this{color:#e43500}
.nr .layui-tab-title li {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    transition: all .2s;
    -webkit-transition: all .2s;
    position: relative;
    line-height: 40px;
    width: 20%;
    min-width: 55px;
    padding: 0 0px;
    text-align: center;
    cursor: pointer;
}
.nr .layui-tab-title {
    width: 100%;
    position: relative;
    left: 0;
    height: 40px;
    white-space: nowrap;
    font-size: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    transition: all .2s;
    -webkit-transition: all .2s;
}
.nr .layui-btn {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: rgba(74,77,79,0);
    color: #000;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
}
.nr .layui-btn:hover {
    opacity: .8;
    filter: alpha(opacity=80);
    color: #000;
}

/***********************************/
/*字体(颜色*/
.zt_jc
{
    font-weight: bold;
}
.ztys_cheng01
{
    color: rgba(221,169,15,1.00)
}
.ztyx_bai01
{
    color: #FFFFFF;
}
.zt_hui01
{
    font-size: 12px;
    color: rgba(180,180,180,1.00)
}
.zt_hui02
{
    color: rgba(50,54,56,0.66);
}
.zt_huang01
{
    color:#eef139;
}
.zt_huang02
{
    color: #E89A2A;
}
.zt_hei
{
    color: rgb(171, 165, 165);
}
.zt_bai
{
    color: #fff;
}
.ztys_hong01
{
    color: #c21a2c;
}
/*字体（大小）*/
.zt_13px
{
    font-size:13px
}
.zt_15px
{
    font-size: 15px;
}
.zt_20px
{
    font-size:20px
}
.zt_30px
{
    font-size:30px
}
.zt_40px
{
    font-size:40px
}
.yzm
{
    margin-right: 10px;
    width: 25%;
    float: right;
    background: #fff;
    color: #E5004F;
    border: 1px solid #e5004f;
    border-radius: .6rem;
    height: 2rem;
    line-height: 2rem;
}