<!-- $Id: account_list.htm 14928 2008-10-06 09:25:48Z testyang $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../data/static/js/utils.js,./js/listtable.js"}

<div class="form-div">
<form method="post" action="account_log.php?act=list&user_id={$smarty.get.user_id}" name="searchForm">
  <select name="account_type" onchange="document.forms['searchForm'].submit()">
    <option value="" {if $account_type eq ''}selected="selected"{/if}>{$lang.all_account}</option>
    <option value="user_money" {if $account_type eq 'user_money'}selected="selected"{/if}>{$lang.user_money}</option>

    <option value="pay_points" {if $account_type eq 'pay_points'}selected="selected"{/if}>{$lang.pay_points}</option>

    <option value="user_gain" {if $account_type eq 'user_gain'}selected="selected"{/if}>收益账户</option>

  </select>
  <strong>{$lang.label_user_name}</strong>{$user.user_name}
  <strong>{$lang.label_user_money}</strong>{$user.formated_user_money}
  <strong>{$lang.label_pay_points}</strong>{$user.pay_points}

  <strong>收益账户</strong>{$user.user_gain}
  </form>
</div>

<form method="post" action="" name="listForm">
<div class="list-div" id="listDiv">
{/if}

  <table cellpadding="3" cellspacing="1">
    <tr>
      <th width="20%">{$lang.change_time}</th>
      <th width="30%">{$lang.change_desc}</th>
      <th>{$lang.user_money}</th>
      <th>{$lang.pay_points}</th>
      <th>收益账户</th>
    </tr>
    {foreach from=$account_list item=account}
    <tr>
      <td>{$account.change_time}</td>
      <td>{$account.change_desc|escape:html}</td>
      <td align="right">
        {if $account.user_money gt 0}
          <span style="color:#0000FF">+{$account.user_money}</span>
        {elseif $account.user_money lt 0}
          <span style="color:#FF0000">{$account.user_money}</span>
        {else}
          {$account.user_money}
        {/if}
      </td>


     <td align="right">
        {if $account.pay_points gt 0}
          <span style="color:#0000FF">+{$account.pay_points}</span>
        {elseif $account.pay_points lt 0}
          <span style="color:#FF0000">{$account.pay_points}</span>
        {else}
          {$account.pay_points}
        {/if}
      </td>


      <td align="right">
        {if $account.user_gain gt 0}
        <span style="color:#0000FF">+{$account.user_gain}</span>
        {elseif $account.user_gain lt 0}
        <span style="color:#FF0000">{$account.user_gain}</span>
        {else}
        {$account.user_gain}
        {/if}
      </td>

    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="4">{$lang.no_records}</td></tr>
    {/foreach}
  </table>
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>

{if $full_page}
</div>
</form>

<script type="text/javascript" language="javascript">
  <!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
      // 开始检查订单
      startCheckOrder();
  }
  {/literal}
  //-->
</script>
{include file="pagefooter.htm"}
{/if}