<!-- $Id: ads_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<script type="text/javascript" src="../data/static/js/calendar.php?lang={$cfg_lang}"></script>
<link href="../data/static/js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<div class="main-div">
<form action="ads.php" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
  <table width="100%" id="general-table">
    <tr>
      <td  class="label">
        <a href="javascript:showNotice('NameNotic');" title="{$lang.form_notice}">
        <img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{$lang.ad_name}</td>
      <td>
        <input type="text" name="ad_name" value="{$ads.ad_name}" size="35" />
        <br /><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="NameNotic">{$lang.ad_name_notic}</span>
      </td>
    </tr>

    {if $action eq "add"}
      <tr>
        <td class="label">{$lang.media_type}</td>
        <td>
         <select name="media_type" onchange="showMedia(this.value)">
         <option value='0'>{$lang.ad_img}</option>
         <option value='1'>{$lang.ad_flash}</option>
         <option value='2'>{$lang.ad_html}</option>
         <option value='3'>{$lang.ad_text}</option>

         </select>
        </td>
      </tr>
	{else}
	    <input type="hidden" name="media_type" value="{$ads.media_type}" />
    {/if}
    <tr>
      <td  class="label">{$lang.position_id}</td>
      <td>
        <select name="position_id">
        <option value='0'>{$lang.outside_posit}</option>
        {html_options options=$position_list selected=$ads.position_id}
        </select>
      </td>
    </tr>
    <tr>
      <td  class="label">{$lang.start_date}</td>
      <td>
        <input name="start_time" type="text" id="start_time" size="22" value='{$ads.start_time}' readonly="readonly" /><input name="selbtn1" type="button" id="selbtn1" onclick="return showCalendar('start_time', '%Y-%m-%d', false, false, 'selbtn1');" value="{$lang.btn_select}" class="button"/>
      </td>
    </tr>
    <tr>
      <td class="label">{$lang.end_date}</td>
      <td>
        <input name="end_time" type="text" id="end_time" size="22" value='{$ads.end_time}' readonly="readonly" /><input name="selbtn2" type="button" id="selbtn2" onclick="return showCalendar('end_time', '%Y-%m-%d', false, false, 'selbtn2');" value="{$lang.btn_select}" class="button"/>
      </td>
    </tr>
  {if $ads.media_type eq 0 OR $action eq "add"}
    <tbody id="0">
    <tr>
      <td  class="label">{$lang.ad_link}</td>
      <td>
        <input type="text" name="ad_link" value="{$ads.ad_link}" size="35" />
      </td>
    </tr>
    <tr>
      <td  class="label">
        <a href="javascript:showNotice('AdCodeImg');" title="{$lang.form_notice}">
        <img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{$lang.upfile_img}</td>
      <td>
        <input type='file' name='ad_img' size='35' />
        <br /><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="AdCodeImg">{$lang.ad_code_img}</span>
      </td>
    </tr>
    <tr>
      <td  class="label">{$lang.img_url}</td>
      <td><input type="text" name="img_url" value="{$url_src}" size="35" /></td>
    </tr>
    </tbody>
  {/if}


  {if $ads.media_type eq 1 OR $action eq "add"}
    <tbody id="1" style="{if $ads.media_type neq 1 OR $action eq 'add'}display:none{/if}">
    <tr>
      <td  class="label">
        <a href="javascript:showNotice('AdCodeFlash');" title="{$lang.form_notice}">
        <img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{$lang.upfile_flash}</td>
      <td>
        <input type='file' name='upfile_flash' size='35' />
        <br /><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="AdCodeFlash">{$lang.ad_code_flash}</span>
      </td>
    </tr>
    <tr>
      <td class="label">{$lang.flash_url}</td>
      <td>
        <input type="text" name="flash_url" value="{$flash_url}" size="35" />
      </td>
    </tr>
    </tbody>
  {/if}

  {if $ads.media_type eq 2 OR $action eq "add"}
    <tbody id="2" style="{if $ads.media_type neq 2 OR $action eq 'add'}display:none{/if}">
      <tr>
        <td  class="label">{$lang.enter_code}</td>
        <td><textarea name="ad_code" cols="50" rows="7">{$ads.ad_code}</textarea></td>
      </tr>
    </tbody>
  {/if}

  {if $ads.media_type eq 3 OR $action eq "add"}
    <tbody id="3" style="{if $ads.media_type neq 3 OR $action eq 'add'}display:none{/if}">
    <tr>
      <td  class="label">{$lang.ad_link}</td>
      <td>
        <input type="text" name="ad_link2" value="{$ads.ad_link}" size="35" />
      </td>
    </tr>
    <tr>
      <td  class="label">{$lang.ad_code}</td>
      <td><textarea name="ad_text" cols="40" rows="3">{$ads.ad_code}</textarea></td>
    </tr>
    </tbody>
 {/if}

    <tr>
      <td  class="label">{$lang.enabled}</td>
      <td>
        <input type="radio" name="enabled" value="1" {if $ads.enabled eq 1} checked="true" {/if} />{$lang.is_enabled}
        <input type="radio" name="enabled" value="0" {if $ads.enabled eq 0} checked="true" {/if} />{$lang.no_enabled}
      </td>
    </tr>

    <tr>
      <td  class="label">排序</td>
      <td>
        <input type="text" name="link_email" value="{$ads.link_email}" size="35" />
      </td>
    </tr>

    <tr>
       <td class="label">&nbsp;</td>
       <td>
        <input type="submit" value="{$lang.button_submit}" class="button" />
        <input type="reset" value="{$lang.button_reset}" class="button" />
        <input type="hidden" name="act" value="{$form_act}" />
        <input type="hidden" name="id" value="{$ads.ad_id}" />
      </td>
    </tr>
 </table>

</form>
</div>
{insert_scripts files="../data/static/js/utils.js,./js/validator.js"}
<script language="JavaScript">
  document.forms['theForm'].elements['ad_name'].focus();

  var MediaList = new Array('0', '1', '2', '3', '4');
  {literal}
  function showMedia(AdMediaType)
  {
    for (I = 0; I < MediaList.length; I ++)
    {
      if (MediaList[I] == AdMediaType)
        document.getElementById(AdMediaType).style.display = "";
      else
        document.getElementById(MediaList[I]).style.display = "none";
    }
  }


  function validate()
  {
    validator = new Validator("theForm");
    validator.required("ad_name",     ad_name_empty);
    return validator.passed();
  }

  onload = function()
  {

    startCheckOrder();
    document.forms['theForm'].reset();
  }


  {/literal}
</script>
{include file="pagefooter.htm"}