<!-- $Id: order_info.htm 15544 2009-01-09 01:54:28Z zblikai $ -->

{include file="pageheader.htm"}
{insert_scripts files="./js/topbar.js,../data/static/js/utils.js,./js/listtable.js,./js/selectzone.js,../data/static/js/common.js"}

<div class="list-div" style="margin-bottom: 5px">
<table width="100%" cellpadding="3" cellspacing="1">
<form action="order.php" method="post" name="theForm">
  <tr>
    <th colspan="4">{$lang.base_info}</th>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.delivery_sn_number}</strong></div></td>
    <td>{$delivery_order.delivery_sn}</td>
    <td><div align="right"><strong>{$lang.label_shipping_time}</strong></div></td>
    <td>{$delivery_order.formated_update_time}</td>
  </tr>
  <tr>
    <td width="18%"><div align="right"><strong>{$lang.label_order_sn}</strong></div></td>
   <td width="34%">{$delivery_order.order_sn}{if $delivery_order.extension_code eq "group_buy"}<a href="group_buy.php?act=edit&id={$delivery_order.extension_id}">{$lang.group_buy}</a>{elseif $delivery_order.extension_code eq "exchange_goods"}<a href="exchange_goods.php?act=edit&id={$delivery_order.extension_id}">{$lang.exchange_goods}</a>{/if}
    <td><div align="right"><strong>{$lang.label_order_time}</strong></div></td>
    <td>{$delivery_order.formated_add_time}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_user_name}</strong></div></td>
    <td>{$delivery_order.user_name|default:$lang.anonymous}</td>
    <td><div align="right"><strong></strong></div></td>
    <td></td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_shipping}</strong></div></td>
    <td>{if $exist_real_goods}{if $delivery_order.shipping_id > 0}{$delivery_order.shipping_name}{else}{$lang.require_field}{/if} {if $delivery_order.insure_fee > 0}（{$lang.label_insure_fee}{$delivery_order.formated_insure_fee}）{/if}{/if}</td>
    <td><div align="right"><strong>{$lang.label_shipping_fee}</strong></div></td>
    <td>{$delivery_order.shipping_fee}</td>
  </tr>
  <tr style="display: none;">
    <td><div align="right"><strong>{$lang.label_insure_yn}</strong></div></td>
    <td>{if $insure_yn}{$lang.yes}{else}{$lang.no}{/if}</td>
    <td><div align="right"><strong>{$lang.label_insure_fee}</strong></div></td>
    <td>{$delivery_order.insure_fee|default:0.00}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_invoice_no}</strong></div></td>
    <td colspan="3">{if $delivery_order.status neq 1}<input name="invoice_no" type="text" value="{$delivery_order.invoice_no}" {if $delivery_order.status eq 0} readonly="readonly" {/if}>{else}{$delivery_order.invoice_no}{/if}</td>
  </tr>
  
  <tr>
    <th colspan="4">{$lang.consignee_info}</th>
    </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_consignee}</strong></div></td>
    <td>{$delivery_order.consignee|escape}</td>
    <td><div align="right"><strong>{$lang.label_email}</strong></div></td>
    <td>{$delivery_order.email}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_address}</strong></div></td>
    <td>[{$delivery_order.region}] {$delivery_order.address|escape}</td>
    <td><div align="right"><strong>{$lang.label_zipcode}</strong></div></td>
    <td>{$delivery_order.zipcode|escape}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_tel}</strong></div></td>
    <td>{$delivery_order.tel}</td>
    <td><div align="right"><strong>{$lang.label_mobile}</strong></div></td>
    <td>{$delivery_order.mobile|escape}</td>
  </tr>
  <tr  style="display: none;">
    <td><div align="right"><strong>{$lang.label_sign_building}</strong></div></td>
    <td>{$delivery_order.sign_building|escape}</td>
    <td><div align="right"><strong>{$lang.label_best_time}</strong></div></td>
    <td>{$delivery_order.best_time|escape}</td>
  </tr>
  <tr  style="display: none;">
    <td><div align="right"><strong>{$lang.label_postscript}</strong></div></td>
    <td colspan="3">{$delivery_order.postscript}</td>
  </tr>
</table>
</div>

<div class="list-div" style="margin-bottom: 5px">
<table width="100%" cellpadding="3" cellspacing="1">
  <tr>
    <th colspan="7" scope="col">{$lang.goods_info}</th>
    </tr>
  <tr>
    <td scope="col"><div align="center"><strong>{$lang.goods_name_brand}</strong></div></td>
    <td scope="col"><div align="center"><strong>{$lang.goods_sn}</strong></div></td>
    <td scope="col"><div align="center"><strong>{$lang.product_sn}</strong></div></td>
    <td scope="col"><div align="center"><strong>{$lang.goods_attr}</strong></div></td>
    <td scope="col"><div align="center"><strong>{$lang.label_send_number}</strong></div></td>
  </tr>
  {foreach from=$goods_list item=goods}
  <tr>
    <td>
    <a href="../goods.php?id={$goods.goods_id}" target="_blank">{$goods.goods_name} {if $goods.brand_name}[ {$goods.brand_name} ]{/if}
    </td>
    <td><div align="left">{$goods.goods_sn}</div></td>
    <td><div align="left">{$goods.product_sn}</div></td>
    <td><div align="left">{$goods.goods_attr|nl2br}</div></td>
    <td><div align="left">{$goods.send_number}</div></td>
  </tr>
  {/foreach}
</table>
</div>

<div class="list-div" style="margin-bottom: 5px">
<table cellpadding="3" cellspacing="1">
  <tr>
    <th colspan="6">{$lang.op_ship}{$lang.action_info}</th>
  </tr>

  <tr>
    <td><div align="right"><strong>{$lang.action_user}</strong></div></td>
    <td>{$delivery_order.action_user}</td>
    <td><div align="right"><strong>{$lang.label_agency}</strong></div></td>
    <td colspan="5">{$delivery_order.agency_name}</td>
  </tr>
  {if $delivery_order.status neq 1}
  <tr>
    <td><div align="right"><strong>{$lang.label_action_note}</strong></div></td>
  <td colspan="5"><textarea name="action_note" cols="80" rows="3"></textarea></td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_operable_act}</strong></div></td>
    <td colspan="6" align="left">{if $delivery_order.status eq 2}<input name="delivery_confirmed" type="submit" value="{$lang.op_ship}" class="button"/>&nbsp;&nbsp;{else}<input name="unship" type="submit" value="{$lang.op_cancel_ship}" class="button" />{/if}
        <input name="order_id" type="hidden" value="{$delivery_order.order_id}">
        <input name="delivery_id" type="hidden" value="{$delivery_order.delivery_id}">
        <input name="act" type="hidden" value="{$action_act}">
    </td>
  </tr>
  {/if}

  <tr>
    <th>{$lang.action_user}</th>
    <th>{$lang.action_time}</th>
    <th>{$lang.order_status}</th>
    <th>{$lang.pay_status}</th>
    <th>{$lang.shipping_status}</th>
    <th>{$lang.action_note}</th>
  </tr>
  {foreach from=$action_list item=action}
  <tr>
    <td><div align="center">{$action.action_user}</div></td>
    <td><div align="center">{$action.action_time}</div></td>
    <td><div align="center">{$action.order_status}</div></td>
    <td><div align="center">{$action.pay_status}</div></td>
    <td><div align="center">{$action.shipping_status}</div></td>
    <td>{$action.action_note|nl2br}</td>
  </tr>
  {/foreach}
    </form>
</table>
</div>
{literal}
<script language="JavaScript">
{/literal}
  var oldAgencyId = {$delivery_order.agency_id|default:0};
{literal}
  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
  }

</script>
{/literal}

{include file="pagefooter.htm"}