<!-- $Id: payment_list.htm 15541 2009-01-08 10:29:01Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="../data/static/js/utils.js,./js/listtable.js"}
<!-- start payment list -->
<div class="list-div" id="listDiv">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th>{$lang.payment_name}</th>
    <th width="40%">{$lang.payment_desc}</th>
    <th>{$lang.version}</th>

    <th>{$lang.short_pay_fee}</th>
    <th>{$lang.sort_order}</th>
    <th>{$lang.handler}</th>
  </tr>
  {foreach from=$modules item=module}
  {if $module.code neq "tenpayc2c"}
  <tr>
    <td class="first-cell" valign="top">
      {if $module.install == 1}
        <span onclick="listTable.edit(this, 'edit_name', '{$module.code}'); return false;">{$module.name}</span>
      {else}
        {$module.name}
      {/if}
    </td>
    <td>{$module.desc|nl2br}</td>
    <td valign="top">{$module.version}</td>

    <td valign="top" align="right">
      {if $module.is_cod}{$lang.decide_by_ship}
      {else}
        {if $module.install == 1}
          <span onclick="listTable.edit(this, 'edit_pay_fee', '{$module.code}'); return false;">{$module.pay_fee}</span>
        {else}
          {$module.pay_fee}
        {/if}
      {/if}
    </td>
    <td align="right" valign="top"> {if $module.install == 1} <span onclick="listTable.edit(this, 'edit_order', '{$module.code}'); return false;">{$module.pay_order}</span> {else} &nbsp; {/if} </td>
    <td align="center" valign="top">
      {if $module.install == "1"}
      {if $module.code eq "tenpay"}
        <a href="javascript:confirm_redirect(lang_removeconfirm, 'payment.php?act=uninstall&code={$module.code}')">{$lang.uninstall}{$lang.tenpay}</a>
        <a href="payment.php?act=edit&code={$module.code}">{$lang.edit}</a><br />
          {if $tenpayc2c.install eq "1"}<a href="javascript:confirm_redirect(lang_removeconfirm, 'payment.php?act=uninstall&code=tenpayc2c')">{$lang.uninstall}{$lang.tenpayc2c}</a>
          <a href="payment.php?act=edit&code=tenpayc2c">{$lang.edit}</a>
          {else}
          <a href="payment.php?act=install&code=tenpayc2c">{$lang.install}{$lang.tenpayc2c}</a>
          {/if}
        {else}
          <a href="javascript:confirm_redirect(lang_removeconfirm, 'payment.php?act=uninstall&code={$module.code}')">{$lang.uninstall}</a>
          <a href="payment.php?act=edit&code={$module.code}">{$lang.edit}</a>
        {/if}

      {else}
          {if $module.code eq "tenpay"}
          <a href="payment.php?act=install&code={$module.code}">{$lang.install}{$lang.tenpay} </a><br />
               {if $tenpayc2c.install eq "1"}
            <a href="javascript:confirm_redirect(lang_removeconfirm, 'payment.php?act=uninstall&code=tenpayc2c')">{$lang.uninstall}{$lang.tenpayc2c}</a>
        <a href="payment.php?act=edit&code=tenpayc2c">{$lang.edit}</a>

              {else}
              <a href="payment.php?act=install&code=tenpayc2c">{$lang.install}{$lang.tenpayc2c}</a>
              {/if}

           {else}
           <a href="payment.php?act=install&code={$module.code}">{$lang.install}</a>
           {/if}

      {/if}
    </td>
  </tr>{/if}
  {/foreach}
</table>
</div>
<!-- end payment list -->
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
{/literal}
//-->
</script>
{include file="pagefooter.htm"}