
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class="form-div">
  <form action="javascript:search()" name="searchForm" >
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    项目名称<input type="text" name="keyword" id="keyword" />
    <input type="submit" value="搜索" class="button" />
  </form>
</div>

<form method="POST" action="product.php?act=batch_remove" name="listForm">

<div class="list-div" id="listDiv">
{/if}

<table cellspacing='1' cellpadding='3' id='list-table'>
  <tr>
    <th>
      <a href="javascript:listTable.sort('id'); ">编号</a>
    </th>
    <th>项目名称</th>
    <th>日化率</th>
    <th><a href="javascript:listTable.sort('goods_price'); ">起投金额</a></th>
    <th><a href="javascript:listTable.sort('total_amount'); ">项目规模</a></th>
    <th><a href="javascript:listTable.sort('add_time'); ">添加时间</a></th>
    <th>上架</th>
    <th>{$lang.handler}</th>
  </tr>
  {foreach from=$goods_list item=list}
  <tr>
    <td  align="center">{$list.id}</td>
    <td  align="center">{$list.goods_name|escape:html}</td>
    <td  align="center">{$list.daily_rate}%</td>
    <td align="center"><span>{$list.goods_price}</span></td>
    <td align="center"><span>{$list.total_amount}</span></td>
    <td align="center"><span>{$list.date}</span></td>
    <td align="center"><img src="images/{if $list.is_on_sale}yes{else}no{/if}.gif" onclick="listTable.toggle(this, 'toggle_on_sale', {$list.id})" /></td>

    <td align="center" nowrap="true"><span>
      <a href="product.php?act=edit&id={$list.id}" title="{$lang.edit}"><img src="images/icon_edit.gif" border="0" height="16" width="16" /></a>&nbsp;
      <a href="javascript:;" onclick="removeproduct({$list.id})" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16"></a></span>
    </td>
   </tr>
   {foreachelse}
    <tr><td class="no-records" colspan="7">没有项目</td></tr>
  {/foreach}
  <tr>&nbsp;
    <td align="right" nowrap="true" colspan="7">{include file="page.htm"}</td>
  </tr>
</table>

{if $full_page}
</div>

<div>


</div>
</form>
<!-- end cat list -->
<script type="text/javascript" language="JavaScript">
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}
  {literal}
    onload = function()
    {

      // 开始检查订单
      startCheckOrder();
    }
 function search()
 {
    listTable.filter.keyword = Utils.trim(document.forms['searchForm'].elements['keyword'].value);

    listTable.filter.page = 1;
    listTable.loadList();
 }
    function removeproduct(id)
    {
      if(confirm("确定要删除该项目吗？")){
        window.location.href="product.php?act=remove&id="+id;
      }

    }

 {/literal}
</script>
{include file="pagefooter.htm"}
{/if}
