<!-- $Id: goods_type_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{include file="pageheader.htm"}
{insert_scripts files="../data/static/js/utils.js,./js/validator.js"}

<div class="main-div">
  <form action="" method="post" name="theForm" onsubmit="return validate();">
    <table cellspacing="1" cellpadding="3" width="100%">
      <tr>
        <td class="label">类型名称:</td>
        <td><input type="text" name="cat_name" value="{$goods_type.cat_name|escape}" size="40" />
        {$lang.require_field}</td>
      </tr>
      <tr style="display:none">
        <td class="label">{$lang.goods_type_status}:</td>
        <td>{html_radios name="enabled" options=$lang.arr_goods_status checked=$goods_type.enabled}</td>
      </tr>

      <tr align="center">
        <td colspan="2">
          <input type="hidden" name="cat_id" value="{$goods_type.cat_id}" />
          <input type="submit" value="{$lang.button_submit}" class="button" />
          <input type="reset" value="{$lang.button_reset}" class="button" />
          <input type="hidden" name="act" value="{$form_act}" />
        </td>
      </tr>
    </table>
  </form>
</div>

<script type="text/javascript">
<!--
{literal}
onload = function() {
  document.forms['theForm'].elements['cat_name'].focus();
  startCheckOrder();
}

function validate()
{
  var validator = new Validator('theForm');
  validator.required('cat_name', type_name_empty);

  return validator.passed();
}
{/literal}  
//-->
</script>

{include file="pagefooter.htm"}
