<!-- $Id: goods_type.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../data/static/js/utils.js,./js/listtable.js"}

<form method="post" action="" name="listForm">
<!-- start goods type list -->
<div class="list-div" id="listDiv">
{/if}

<table width="100%" cellpadding="3" cellspacing="1" id="listTable">
  <tr>
    <th>名称</th>

    <th>{$lang.handler}</th>
  </tr>
  {foreach from=$goods_type_arr item=goods_type}
  <tr>
    <td class="first-cell" align="center"><span align="center" onclick="javascript:listTable.edit(this, 'edit_type_name', {$goods_type.cat_id})">{$goods_type.cat_name}</span></td>


    <td align="center">

      <a href="product_type.php?act=edit&cat_id={$goods_type.cat_id}" title="{$lang.edit}">{$lang.edit}</a> |
      <a href="javascript:;" onclick="listTable.remove({$goods_type.cat_id}, '{$lang.remove_confirm}')" title="{$lang.remove}">{$lang.remove}</a>
    </td>
  </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
    {/foreach}
    <tr>
      <td align="right" nowrap="true" colspan="6">
      {include file="page.htm"}
      </td>
    </tr>
  </table>

{if $full_page}
</div>
<!-- end goods type list -->
</form>

<script type="text/javascript" language="JavaScript">
<!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}
 
  {literal}

    onload = function()
    {

      // 开始检查订单
      startCheckOrder();
    }
//-->
</script>
{/literal}

{include file="pagefooter.htm"}
{/if}
