<!-- $Id: user_info.htm 16854 2009-12-07 06:20:09Z sxc_shop $ -->
{include file="pageheader.htm"}
<style>
.but{position:relative;left:100px;}
.guanbi,.kaifang{display:inline-block;width:150px;background:#003300;text-align:center;color:#fff;border-radius:6px;font-size:22px;}
</style>
<div style="background:#FFFFFF;padding:10px 100px;">
<form method="post" action="set.php?act=edit" name="theForm">
	<table width="100%">
		{foreach from=$set item=act}
			<tr style="margin-top:10px;">
				<td align="right">{$act.COLUMN_COMMENT}：</td>
				<td><input type="text" size="100" style="color:#000000;height:30px;" name="{$act.COLUMN_NAME}" value="{$act.val}" /></td>
			</tr>
		 {/foreach}
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td align="right"><input type="submit" value="确定" class="button but"/></td>
		</tr>
	</table>
</form>
</div>
{include file="pagefooter.htm"}
