{if $full_page}
<!-- $Id: users_list.htm 15617 2009-02-18 05:18:00Z sunxiaodong $ -->
{include file="pageheader.htm"}
{insert_scripts files="../data/static/js/utils.js,./js/listtable.js"}

<div class="form-div">
  此列表显示用户{$uname}的团队的全部会员信息，总计 {$record_count}个会员。

</div>

<form method="POST" action="" name="listForm">

<!-- start users list -->
<div class="list-div" id="listDiv">
{/if}
<!--用户列表部分-->
<table cellpadding="3" cellspacing="1">
  <tr>
    <th>会员ID</th>
    <th>{$lang.username}</th>
    <th>{$lang.affiliate_level}{$lang.level}</th>
    <th>推荐人</th>

    <th>{$lang.user_money}</th>
    <th>{$lang.pay_points}</th>
    <th>{$lang.reg_date}</th>
    <th>直推人数</th>
    <th>团队</th>
    <th>{$lang.handler}</th>
  </tr>

  {foreach from=$user_list item=users}
  <tr><td align="center" style="font-size:150%" colspan="12">{$users.name}</td></tr>
  {foreach from=$users.user item=user}


  <tr>
    <td align="center">{$user.user_id}</td>
    <td align="center" class="first-cell">{$user.user_name|escape}</td>
    <td align="center" class="first-cell">{$user.level}</td>
    <td align="center">{$user.up_name}</td>

    <td align="center">{$user.user_money}</td>
    <td align="center">{$user.pay_points}</td>
    <td align="center">{$user.reg_time}</td>
    <td align="center">{$user.number}</td>
    <td align="center"><a href="users.php?act=share_list&id={$user.user_id}">点击查看</a></td>

    <td align="center">
      <a href="users.php?act=edit&id={$user.user_id}" title="{$lang.edit}"><img src="images/icon_edit.gif" border="0" height="16" width="16" /></a>
      <a href="users.php?act=address_list&id={$user.user_id}" title="{$lang.address_list}"><img src="images/book_open.gif" border="0" height="16" width="16" /></a>
      <a href="order.php?act=list&user_id={$user.user_id}" title="{$lang.view_order}"><img src="images/icon_view.gif" border="0" height="16" width="16" /></a>
      <a href="account_log.php?act=list&user_id={$user.user_id}" title="{$lang.view_deposit}"><img src="images/icon_account.gif" border="0" height="16" width="16" /></a>
      <a href="javascript:confirm_redirect('{$lang.remove_confirm}', 'users.php?act=remove&id={$user.user_id}')" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16" /></a>
    </td>

  </tr>



  {/foreach}

  {/foreach}


</table>

{if $full_page}
</div>
<!-- end users list -->
</form>
<script type="text/javascript" language="JavaScript">
<!--
{literal}
onload = function()
{
    document.forms['searchForm'].elements['keyword'].focus();
    // 开始检查订单
    startCheckOrder();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}