<!-- $Id: shipping_list.htm 17043 2010-02-26 10:40:02Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../data/static/js/utils.js,./js/listtable.js"}
<!-- start payment list -->
<div class="list-div" id="listDiv">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th>{$lang.shipping_name}</th>
    <th>{$lang.shipping_desc}</th>
    <th nowrap="true">{$lang.insure}</th>
    <th nowrap="true">{$lang.support_cod}</th>
    <th nowrap="true">{$lang.shipping_version}</th>

    <th>{$lang.sort_order}</th>
    <th>{$lang.handler}</th>
  </tr>
  {foreach from=$modules item=module}
  <tr>
    <td class="first-cell" nowrap="true">
      {if $module.install == 1}
      <span onclick="listTable.edit(this, 'edit_name', '{$module.code}'); return false;">{$module.name}</span>
      {else}
      {$module.name}
      {/if}
    </td>
    <td>
      {if $module.install == 1}
      <span onclick="listTable.edit(this, 'edit_desc', '{$module.code}'); return false;">{$module.desc}</span>
      {else}
      {$module.desc}
      {/if}
    </td>
    <td align="right">
      {if $module.install == 1 && $module.is_insure neq 0}
      <span onclick="listTable.edit(this, 'edit_insure', '{$module.code}'); return false;">{$module.insure_fee}</span>
      {else}
      {$module.insure_fee}
      {/if}
    </td>
    <td align='center'>{if $module.cod==1}{$lang.yes}{else}{$lang.no}{/if}</td>
    <td nowrap="true">{$module.version}</td>

    <td align="right" valign="top"> {if $module.install == 1} <span onclick="listTable.edit(this, 'edit_order', '{$module.code}'); return false;">{$module.shipping_order}</span> {else} &nbsp; {/if} </td>
    <td align="center" nowrap="true">
      {if $module.install == 1}
      <a href="javascript:confirm_redirect(lang_removeconfirm,'shipping.php?act=uninstall&code={$module.code}')">{$lang.uninstall}</a>
      <a href="shipping_area.php?act=list&shipping={$module.id}">{$lang.shipping_area}</a>
      <a href="shipping.php?act=edit_print_template&shipping={$module.id}">{$lang.shipping_print_edit}</a>
      {else}
      <a href="shipping.php?act=install&code={$module.code}">{$lang.install}</a>
      {/if}
    </td>
  </tr>
  {/foreach}
</table>
</div>
<!-- end payment list -->
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}

onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
{/literal}
//-->
</script>
{include file="pagefooter.htm"}