﻿
{if $full_page}
<!-- $Id: users_list.htm 17053 2010-03-15 06:50:26Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

 <script type="text/javascript" src="/admin/templates/js/qihuo.js"></script>
 <div class="form-div">
  <form action="javascript:searchUser()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
	<input type="text" name="user_id" placeholder="会员ID"/> 
    <input type="text" name="keyword" placeholder="会员名称"/> 
    <input type="text" name="mobile_phone" placeholder="手机号"/> 
    
	<input type="text" name="order_sn" placeholder="订单号"/>

      <input type="text" name="goods_name" placeholder="商品名称"/>



      开始<input type="date" name="starttime"/>
    结束<input type="date" name="endtime"/>
	
	&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="{$lang.button_search}"/>
	
  </form>
 
</div>

<form method="POST" action="" name="listForm" onsubmit="return confirm_bath()">

<!-- start users list -->
<div class="list-div" id="listDiv">
{/if}
<style>
.trtd{text-align:center}
.ziti{font-size:20px;font-weight:bold}
.ziti{color:#FF0000}
.qihuo{font-size:20px;color:#990000}
</style>

<!--用户列表部分-->
<table cellpadding="3" cellspacing="1" >
  <tr>
    <th width="5%"><a href="javascript:listTable.sort('id'); ">编号</a></th>
    <th>订单号</th>
    <th><a href="javascript:listTable.sort('user_id');">会员ID</a></th>
     <th>会员名称</th>
	<th>商品名称</th>
      <th>日/时化率</th>
      <th>投资金额</th>
	<th>周期（天/时）</th>
      <th>每日收益（元）</th>
      <th>总收益（元）</th>
      <th>累计返还（元）</th>
      <th>剩余待返（元）</th>
      <th>剩余期数</th>
      <th>还款方式</th>
	<th><a href="javascript:listTable.sort('time');">下单时间</a></th>
      <th>结束时间</th>
      <th>状态</th>
    
  <tr>
  <style>
  .trr td{ border-bottom:1px solid #B2B2B2}
  .data{font-weight:bold}
  .green{color:green}
  .red{color:red}
  </style>
  {foreach from=$goods item=in}
  <tr class="trr" align="center" height="60">
    <td>{$in.id}</td>
    
    <td>{$in.order_sn}</td>
	<td  align="center">{$in.user_id}</td>
     <td>{$in.user_name}</td>
	<td>{$in.goods_name}</td>
    <td>{$in.daily_rate}%</td>


    <td>{$in.amount}</td>

	<td>{$in.validity}</td>
    <td>{$in.earnings}</td>
    <td>{$in.gain}</td>
    <td>{$in.is_gain}</td>
    <td>{$in.remaining}</td>
    <td>{$in.limit_num}</td>


    <td>{if $in.type eq 0}
        每日返息，到期返本
        {elseif $in.type eq 1}

        等额本息，每日返还
        {elseif $in.type eq 2}
        到期返本返息
        {elseif $in.type eq 3}
        时时还息，到期还本
        {/if}



    </td>



	<td>{$in.time}</td>
    <td>{$in.endtime}</td>
    <td>{$in.status}</td>
	
    
  </tr>
  {foreachelse}
  <tr><td class="no-records" colspan="16">{$lang.no_records}</td></tr>
  <hr />
  {/foreach}
  <tr>



      <td align="right" nowrap="true" colspan="16">
      {include file="page.htm"}
      </td>
  </tr>
  
</table>

{if $full_page}
</div>
<!-- end users list -->
</form>
<script type="text/javascript" language="JavaScript">
<!--
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};

{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}

{literal}
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
/**
 * 搜索用户
 */
function searchUser()
{
    listTable.filter['user_id'] = Utils.trim(document.forms['searchForm'].elements['user_id'].value);
	 listTable.filter['keywords'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
	listTable.filter['mobile_phone'] = Utils.trim(document.forms['searchForm'].elements['mobile_phone'].value);


    listTable.filter['goods_name'] = Utils.trim(document.forms['searchForm'].elements['goods_name'].value);

	listTable.filter['order_sn'] = Utils.trim(document.forms['searchForm'].elements['order_sn'].value);

	listTable.filter['starttime'] = Utils.trim(document.forms['searchForm'].elements['starttime'].value);
	listTable.filter['endtime'] = Utils.trim(document.forms['searchForm'].elements['endtime'].value);

    listTable.filter['page'] = 1;
    listTable.loadList();
}

function confirm_bath()
{
  userItems = document.getElementsByName('checkboxes[]');

  cfm = '确定要删除吗';

  for (i=0; userItems[i]; i++)
  {
    if (userItems[i].checked && userItems[i].notice == 1)
    {
      cfm = '{$lang.list_still_accounts}' + '{$lang.list_remove_confirm}';
      break;
    }
  }

  return confirm(cfm);
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}