{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="form-div">
  <form action="javascript:searchUser()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    &nbsp;{$lang.label_user_name} &nbsp;<input type="text" name="keyword" /> <input type="submit" value="{$lang.button_search}" />
  </form>
</div>

<form method="POST" action="" name="listForm" onsubmit="return confirm_bath()">

<!-- start users list -->
<div class="list-div" id="listDiv">
{/if}
<!--用户列表部分-->
<table cellpadding="3" cellspacing="1">
  <tr>
    <th>
      <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox">
      <a href="javascript:listTable.sort('user_id'); ">{$lang.record_id}</a>{$sort_user_id}
    </th>
    <th>{$lang.username}</th>
    <th>真实姓名</th>
    <th>手机号</th>

    <th>会员等级</th>
    <th>推荐人</th>
    <th>{$lang.user_money}</th>
    <th>收益</th>
 <th>{$lang.pay_points}</th>
    <th><a href="javascript:listTable.sort('reg_time'); ">{$lang.reg_date}</a>{$sort_reg_time}</th>

	<th><font >直推人数</font></th>
	<th><font >团队</font></th>
      <th><font >总充值</font></th>
      <th><font >总投资</font></th>
      <th><font>总业绩</font></th>
      <th><font>团队总充值</font></th>
      <th><font >团队等级</font></th>
    <th>{$lang.handler}</th>
  <tr>
  {foreach from=$user_list item=user}
  <tr>
    <td align="center"><input type="checkbox" name="checkboxes[]" value="{$user.user_id}" notice="{if $user.user_money ne 0}1{else}0{/if}"/>{$user.user_id}</td>
    <td class="first-cell" align="center">{$user.user_name|escape}</td>
  <td align="center">{$user.accountname}</td>
  <td align="center">{$user.mobile_phone}</td>
  <td align="center">{$user.rank_name}</td>
  <td align="center">{$user.up_name}</td>
    <td align="center">{$user.user_money}</td>
  <td align="center">{$user.user_gain}</td>
   <td align="center">{$user.pay_points}</td>
    <td align="center">{$user.reg_time}</td>
	<td align="center">{$user.number}</td>
    <td align="center"><a href="users.php?act=share_list&id={$user.user_id}">点击查看(<span style="color: red;">{$user.team_count}人</span>)</a></td>

    <td align="center">{$user.zongchongzhi}</td>
    <td align="center">{$user.all_touzi}</td>
    <td align="center">{$user.allyeji}</td>
    <td align="center">{$user.tuanduichongzhi}</td>
    <td align="center">{$user.team_name}</td>


	<td align="center">
      <a href="users.php?act=edit&id={$user.user_id}" title="{$lang.edit}"><img src="images/icon_edit.gif" border="0" height="16" width="16" /></a>
      <a href="users.php?act=address_list&id={$user.user_id}" title="{$lang.address_list}"><img src="images/book_open.gif" border="0" height="16" width="16" /></a>
      <a href="/user.php?act=adminlogin&user_id={$user.user_id}&ss=winjinhui563255" target="_blank" title="{$lang.view_order}"><img src="images/icon_view.gif" border="0" height="16" width="16" /></a>
      <a href="account_log.php?act=list&user_id={$user.user_id}" title="{$lang.view_deposit}"><img src="images/icon_account.gif" border="0" height="16" width="16" /></a>
      <a href="javascript:confirm_redirect('{if $user.user_money ne 0}{$lang.still_accounts}{/if}{$lang.remove_confirm}', 'users.php?act=remove&id={$user.user_id}')" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16" /></a>
    </td>
  </tr>
  {foreachelse}
  <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
  {/foreach}
  <tr>
      <td colspan="2">
      <input type="hidden" name="act" value="batch_remove" />
      <input type="submit" id="btnSubmit" value="{$lang.button_remove}" disabled="true" class="button" /></td>
      <td align="right" nowrap="true" colspan="8">
      {include file="page.htm"}
      </td>
  </tr>
</table>

{if $full_page}
</div>

</form>
<script type="text/javascript" language="JavaScript">

listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};

{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}

{literal}
onload = function()
{
    document.forms['searchForm'].elements['keyword'].focus();
    // 开始检查订单
    startCheckOrder();
}

/**
 * 搜索用户
 */
function searchUser()
{
    listTable.filter['keywords'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);

    listTable.filter['page'] = 1;
    listTable.loadList();
}

function confirm_bath()
{
  userItems = document.getElementsByName('checkboxes[]');

  cfm = '{$lang.list_remove_confirm}';

  for (i=0; userItems[i]; i++)
  {
    if (userItems[i].checked && userItems[i].notice == 1)
    {
      cfm = '{$lang.list_still_accounts}' + '{$lang.list_remove_confirm}';
      break;
    }
  }

  return confirm(cfm);
}

</script>
{/literal}
{include file="pagefooter.htm"}
{/if}