<!-- $Id: user_address_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<div class="list-div">
  <table width="100%" cellpadding="3" cellspacing="1">
     <tr>
      <th>{$lang.consignee}</th>
      <th>{$lang.address}</th>
      <th>{$lang.link}</th>

    </tr>
  {foreach from=$address key=Key item=val}
    <tr>
      <td align="center">{$val.consignee|escape}</td>
      <td align="center">{$val.country_name}&nbsp;&nbsp;{$val.province_name}&nbsp;&nbsp;{$val.city_name}&nbsp;&nbsp;{$val.district_name}<br />
      {$val.address|escape}{if $val.zipcode}[{$val.zipcode|escape}]{/if}</td>
      <td align="center">{$lang.tel}：{$val.tel}<br />{$lang.mobile}：{$val.mobile}<br/>email: {$val.email}</td>

    </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="3">{$lang.no_records}</td></tr>
  {/foreach}
  </table>
</div>
{include file="pagefooter.htm"}