{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="form-div">
  <form action="javascript:searchUser()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />

    <input type="text" name="keyword" placeholder="会员账号"/>
    开始时间<input type="date" name="createtime1"/>
    结束时间<input type="date" name="createtime2"/>
	&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="{$lang.button_search}"/>
  </form>
</div>
<form method="POST" action="" name="listForm" onsubmit="return confirm_bath()">


<div class="list-div" id="listDiv">
{/if}
<style>
.trtd{text-align:center}
.ziti{font-size:20px;font-weight:bold}
.ziti{color:#FF0000}
.trzb{border-bottom:1px solid #B2B2B2}
</style>


<!--用户列表部分-->
<table cellpadding="3" cellspacing="1" class="zb">
  <tr>
    <th width="5%">编号</th>
    <th>账号</th>
	<th><a href="javascript:listTable.sort('user_id'); ">会员ID</a></th>
    <th><a href="javascript:listTable.sort('amount'); ">金额</a></th>
      <th><a href="javascript:listTable.sort('lv'); ">手续费</a></th>
      <th><a href="javascript:listTable.sort('amountrun'); ">实际到账</a></th>
    <th><a href="javascript:listTable.sort('paystate'); ">支付状态</a></th>
	<th><a href="javascript:listTable.sort('createtime'); ">申请时间</a></th>
	<th><a href="javascript:listTable.sort('truntime'); ">审核时间</a></th>
    <th>支付方式</th>

    <th>操作</th>
  <tr>
  {foreach from=$transaction_log item=in}
  <tr align="center">
    <td class="trzb">{$in.id}</td>
	<td class="trzb" align="center">{$in.user_name}</td>
    <td class="trzb">{$in.user_id}</td>
    <td class="trzb">{$in.amount}</td>
	<td class="trzb">{$in.lv}</td>
    <td class="trzb">{$in.amountrun}</td>
    <td class="trzb">{if $in.paystate eq 0}<span style="color:red">待审核</span>{elseif $in.paystate eq 1}<span style="color:#0000FF">已支付</span>{elseif $in.paystate eq 2}<span style="color:green">已拒绝</span>{/if}</td>
    <td class="trzb">{$in.createtime}</td>
	<td class="trzb">{$in.truntime}</td>
    <td class="trzb">{$in.paytype}</td>
  <td class="trzb">
    {if $in.paystate eq 0}

    <a href="javascript:confirm_redirect('您确定要审核通过吗？', 'user_recharge.php?act=check_ok&id={$in.id}')" title="审核通过"><img src="images/tongguo.png" border="0" height="20" width="20" /></a>

    <a href="javascript:confirm_redirect('确定要拒绝吗？', 'user_recharge.php?act=check_no&id={$in.id}')" title="拒绝"><img src="images/quxiao.png" border="0" height="20" width="20" /></a>

    {/if}
  </td>
  </tr>
  {foreachelse}
  <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
  {/foreach}
  <tr>

      <td align="right" nowrap="true" colspan="10">
      {include file="page.htm"}
      </td>
  </tr>
</table>

{if $full_page}
</div>

</form>
<script type="text/javascript" language="JavaScript">
<!--
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};

{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}

{literal}
onload = function()
{
    document.forms['searchForm'].elements['keyword'].focus();
    // 开始检查订单
    startCheckOrder();
}

/**
 * 搜索用户
 */
function searchUser()
{
    listTable.filter['keywords'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
	
	listTable.filter['createtime1'] = Utils.trim(document.forms['searchForm'].elements['createtime1'].value);
	listTable.filter['createtime2'] = Utils.trim(document.forms['searchForm'].elements['createtime2'].value);

    listTable.filter['page'] = 1;
    listTable.loadList();
}

//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}