
{include file="pageheader.htm"}
<div class="main-div">
<form method="post" action="users.php" name="theForm" onsubmit="return validate()">
<table width="100%" >
  <tr>
    <td class="label">{$lang.username}:</td>
    <td>
      {if $form_action eq "update"}{$user.user_name}
      <input type="hidden" name="username" value="{$user.user_name}" />
      {else}
      <input type="text" name="username" maxlength="60" value="{$user.user_name}" />{$lang.require_field}
      {/if}
    </td>
  </tr>



  {if $form_action eq "update"}
  <tr>
    <td class="label">会员ID:</td>
    <td>{$user.user_id} </td>
  </tr>

  <tr>
    <td class="label">{$lang.user_money}:</td>
    <td>{$user.formated_user_money} <a href="account_log.php?act=list&user_id={$user.user_id}&account_type=user_money">[ {$lang.view_detail_account} ]</a> </td>
  </tr>

 <tr>
    <td class="label"> {$lang.pay_points}:</td>
    <td>{$user.pay_points} <a href="account_log.php?act=list&user_id={$user.user_id}&account_type=pay_points">[ {$lang.view_detail_account} ]</a> </td>
  </tr>
  {/if}





  {if $form_action eq "insert"}
  <tr>
    <td class="label">{$lang.password}:</td>
    <td><input type="password" name="password" maxlength="20" size="20" />{$lang.require_field}</td>
  </tr>
  <tr>
    <td class="label">{$lang.confirm_password}:</td>
    <td><input type="password" name="confirm_password" maxlength="20" size="20" />{$lang.require_field}</td>
  </tr>
  {elseif  $form_action eq "update"}
  <tr>
    <td class="label">{$lang.newpass}:</td>
    <td><input type="password" name="password" maxlength="20" size="20" /></td>
  </tr>
  <tr>
    <td class="label">{$lang.confirm_password}:</td>
    <td><input type="password" name="confirm_password" maxlength="20" size="20" /></td>
  </tr>

  <tr>
    <td class="label">姓名:</td>
    <td><input type="text" name="accountname" value="{$user.accountname}" maxlength="20" size="20" /></td>
  </tr>

    <tr>
        <td class="label">身份证:</td>
        <td><input type="text" name="id_card" value="{$user.id_card}" maxlength="20" size="20" /></td>
    </tr>


  <tr>
    <td class="label">银行名称:</td>
    <td><input type="text" name="bankname" value="{$user.bankname}" maxlength="20" size="20" /></td>
</tr>


    <tr>
        <td class="label">开户行地址:</td>
        <td><input type="text" name="bank_address" value="{$user.bank_address}" maxlength="20" size="20" /></td>
    </tr>
  <tr>
    <td class="label">银行卡号:</td>
    <td><input type="text" name="accountnumber" value="{$user.accountnumber}" maxlength="20" size="20" /></td>
  </tr>


  {/if}

  <tr>
    <td class="label">手机号:</td>
    <td>
      <input name="mobile_phone" type="text" size="20" class="inputBg" value="{$user.mobile_phone}"/>{$lang.require_field}
    </td>
  </tr>



  <tr>
    <td class="label">会员等级:</td>
    <td>
      <select name="user_level">

        <option value="0" {if $user.user_level eq 0} selected="selected" {/if}>普通会员</option>
        <option value="1" {if $user.user_level eq 1} selected="selected" {/if}>白银会员</option>
        <option value="2" {if $user.user_level eq 2} selected="selected" {/if}>黄金会员</option>

          <option value="3" {if $user.user_level eq 3} selected="selected" {/if}>钻石会员</option>
          <option value="4" {if $user.user_level eq 4} selected="selected" {/if}>皇冠会员</option>

          <option value="5" {if $user.user_level eq 5} selected="selected" {/if}>名誉股东</option>


      </select>
    </td>
  </tr>



    <tr>
    <td class="label"><font style="color:red">上级ID:</font></td>
    <td><input name="parent_id" type="text" id="credit_line" value="{$user.parent_id}" size="10" />会员ID查看方法：点击会员列表，最前面编号就是对应的ID</td>
	</tr>



  {if $user.parent_id}
  <tr>
    <td class="label">{$lang.parent_user}:</td>
    <td><a href="users.php?act=edit&id={$user.parent_id}">{$user.parent_username}</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="users.php?act=remove_parent&id={$user.user_id}">{$lang.parent_remove}</a></td>
  </tr>
  {/if}

  <tr>
    <td colspan="2" align="center">
      <input type="submit" value="{$lang.button_submit}" class="button" />
      <input type="reset" value="{$lang.button_reset}" class="button" />
      <input type="hidden" name="act" value="{$form_action}" />
      <input type="hidden" name="id" value="{$user.user_id}" />    </td>
  </tr>
</table>

</form>
</div>

{insert_scripts files="../js/utils.js,./js/validator.js"}
{literal}
<script language="JavaScript">
<!--

if (document.forms['theForm'].elements['act'].value == "insert")
{
  document.forms['theForm'].elements['username'].focus();
}

onload = function()
{
    // 开始检查订单
    startCheckOrder();
}

/**
 * 检查表单输入的数据
 */
function validate()
{

    validator = new Validator("theForm");
    if (document.forms['theForm'].elements['act'].value == "insert")
    {
        validator.required("username",  no_username);
        validator.required("password", no_password);

        validator.required("confirm_password", no_confirm_password);
        validator.eqaul("password", "confirm_password", password_not_same);
        validator.required("mobile_phone", "没有输入手机号");

        var password_value = document.forms['theForm'].elements['password'].value;
        if (password_value.length < 6)
        {
          validator.addErrorMsg(less_password);
        }
        if (/ /.test(password_value) == true)
        {
          validator.addErrorMsg(passwd_balnk);
        }
    }
    else if (document.forms['theForm'].elements['act'].value == "update")
    {
        validator.required("mobile_phone", "没有输入手机号");
        var newpass = document.forms['theForm'].elements['password'];
        var confirm_password = document.forms['theForm'].elements['confirm_password'];
        if(newpass.value.length > 0 || confirm_password.value.length)
        {
          if(newpass.value.length >= 6 || confirm_password.value.length >= 6)
          {
            validator.eqaul("password", "confirm_password", password_not_same);
          }
          else
          {
            validator.addErrorMsg(password_len_err);
          }
        }
    }

    return validator.passed();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
